# Exemplo de configuração do ambiente (Renomeie para .env)
TOR_PASSWORD=SuaSenhaTorAqui
PROXY_USER_WS=owoqoswg
PROXY_PASS_WS=SuaSenhaProxyAqui
PROXY_PASS_BD1=SuaSenhaBD1Aqui
PROXY_PASS_BD2=SuaSenhaBD2Aqui
USE_TOR=true
USE_PROXY_GLOBAL=false
